footer
  // only this section should be conditional
  if !hideCreateOuter
    section
      .create-outer
        .container
          .create-flex
            .create-item
              h3 CREATE CHAOS
            .create-item
              img(src="/images/footer-top-child-image.png" alt="")
            .create-item-inner
              .create-item-int
                p
                  | Take a break.
                  br
                  | Wine, music and holy water at 
                  br
                  | Red Arrow is available
              .create-item-int
                p
                  | Some may like it gentle.
                  br
                  | But we make it rough.
            .image-create-overlay
              img(src="/images/fate-overlay-image.png" alt="")
        .outer-btn
          button.fate-wrap.fate-oval
            span.fate-oval__text TEMPT FATE
            svg.fate-oval__svg(
                viewBox="0 0 150 68"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
              )
              path.fate-oval__path(
                    d="M140.229 37.1872C140.301 36.4237 140.319 35.6602 140.283 34.8967C140.247 34.1332 140.174 33.3607 140.048 32.6062C139.921 31.8517 139.749 31.0882 139.523 30.3427C139.297 29.5971 139.034 28.8337 138.727 28.0971C138.419 27.3606 138.057 26.6061 137.659 25.8875C137.261 25.1689 136.808 24.4234 136.338 23.7228C135.867 23.0221 135.324 22.2856 134.763 21.6029C134.202 20.9203 133.578 20.2017 132.954 19.537C132.329 18.8723 131.614 18.1897 130.918 17.552C130.221 16.9142 129.424 16.2495 128.646 15.6298C127.868 15.01 127.017 14.3812 126.176 13.7974C125.334 13.2135 124.411 12.6117 123.507 12.0548C122.602 11.4979 121.606 10.932 120.638 10.42C119.67 9.90806 118.62 9.36913 117.589 8.89307C116.557 8.41701 115.544 7.96789 114.512 7.53675C113.553 7.14153 112.576 6.76427 111.598 6.40498C110.621 6.04569 109.589 5.6864 108.567 5.36304C107.544 5.03968 106.495 4.71632 105.454 4.41991C104.414 4.12349 103.328 3.83606 102.26 3.56659C101.192 3.29712 100.079 3.04562 98.9842 2.8031C97.8893 2.56058 96.7582 2.34501 95.6452 2.13841C94.5322 1.93182 93.3739 1.74319 92.2338 1.56355C91.0936 1.3839 89.9354 1.23121 88.7862 1.08749C87.637 0.943774 86.4516 0.818023 85.2843 0.701254C84.117 0.584484 82.9406 0.494662 81.7643 0.413822C80.5879 0.332981 79.4025 0.270106 78.2262 0.225194C77.0498 0.180283 75.8554 0.144354 74.67 0.135372C73.4846 0.12639 72.2992 0.117407 71.1138 0.135372C69.9284 0.153336 68.734 0.189265 67.5486 0.234177C66.3632 0.279088 65.1868 0.350946 64.0105 0.431786C62.8341 0.512626 61.6578 0.611431 60.4814 0.7282C59.3051 0.84497 58.1107 0.979703 56.9343 1.1324C55.758 1.2851 54.5545 1.45576 53.3691 1.64439C52.1837 1.83302 51.0254 2.03063 49.8581 2.25518C48.6908 2.47974 47.5507 2.7043 46.4015 2.9558C45.2523 3.2073 44.1302 3.46779 42.9991 3.75522C41.868 4.04265 40.7821 4.33008 39.6782 4.63548C38.5742 4.94088 37.4974 5.26424 36.4206 5.60556C35.3438 5.94689 34.3032 6.28821 33.2535 6.65649C32.2039 7.02476 31.1904 7.39303 30.1769 7.78825C29.1634 8.18347 28.1771 8.57869 27.1908 8.99187C26.2045 9.40505 25.2544 9.82722 24.2952 10.2763C23.336 10.7254 22.4221 11.1656 21.4991 11.6327C20.5761 12.0997 19.7074 12.5578 18.8206 13.0518C17.9338 13.5459 17.0923 14.0309 16.2417 14.5429C15.3911 15.0549 14.6039 15.5579 13.7985 16.0878C12.9932 16.6178 12.2421 17.1388 11.482 17.6867C10.6767 18.2705 9.88944 18.8723 9.11124 19.4921C8.17016 20.2466 7.24718 21.0371 6.3604 21.8634C5.47361 22.6898 4.72256 23.4802 3.9896 24.3605C3.31999 25.1599 2.70467 25.9953 2.17984 26.8935C1.7274 27.657 1.3383 28.4564 1.02159 29.2918C0.704879 30.1271 0.496756 30.8906 0.342926 31.717C0.189096 32.5433 0.116705 33.3517 0.125754 34.1781C0.134803 35.0045 0.198145 35.8308 0.342926 36.6482C0.487707 37.4656 0.704879 38.3099 0.976344 39.1094C1.24781 39.9088 1.60976 40.7531 2.00791 41.5346C2.42416 42.3519 2.90374 43.1514 3.41953 43.9149C3.93531 44.6783 4.55968 45.4778 5.18405 46.2143C5.84461 46.9868 6.55042 47.7233 7.29243 48.4239C8.07063 49.1605 8.87597 49.8611 9.71751 50.5258C10.5591 51.1905 11.5092 51.8821 12.4412 52.5019C13.2647 53.0498 14.1062 53.5708 14.9658 54.0648C15.8255 54.5588 16.7213 55.0528 17.6171 55.5199C18.513 55.987 19.4812 56.4541 20.4223 56.8852C21.3634 57.3164 22.3678 57.7475 23.3541 58.1517C24.3404 58.5559 25.381 58.9601 26.4126 59.3284C27.4442 59.6967 28.521 60.0739 29.5797 60.4153C30.6384 60.7566 31.7514 61.0979 32.8463 61.4213C33.9412 61.7446 35.0904 62.05 36.2125 62.3375C37.3345 62.6249 38.5018 62.9033 39.651 63.1728C40.8002 63.4423 41.9947 63.6848 43.162 63.9273C44.3293 64.1698 45.5328 64.3854 46.7182 64.592C47.9036 64.7986 49.1161 64.9962 50.3196 65.1758C51.5231 65.3555 52.7356 65.5262 53.9482 65.6789C55.1607 65.8316 56.3733 65.9753 57.5949 66.11C58.8165 66.2447 60.038 66.3615 61.2687 66.4693C62.4993 66.5771 63.7209 66.6669 64.9516 66.7477C66.1822 66.8286 67.4309 66.9004 68.6706 66.9543C69.9103 67.0082 71.15 67.0531 72.3807 67.0801C73.6113 67.107 74.86 67.125 76.0997 67.125C77.3394 67.125 78.5791 67.116 79.8188 67.0891C81.0585 67.0621 82.2891 67.0262 83.5198 66.9723C84.7504 66.9184 85.9901 66.8555 87.2207 66.7657C88.4514 66.6759 89.6639 66.5861 90.8855 66.4783C92.1071 66.3705 93.3196 66.2447 94.5322 66.101C95.7447 65.9573 96.9301 65.8046 98.1336 65.6339C99.3371 65.4633 100.504 65.2747 101.69 65.077C102.875 64.8794 104.033 64.6639 105.201 64.4303C106.368 64.1968 107.508 63.9543 108.648 63.6848C109.789 63.4153 110.929 63.1369 112.06 62.8405C113.191 62.544 114.304 62.2207 115.417 61.8794C116.53 61.538 117.607 61.1877 118.693 60.8195C119.778 60.4512 120.81 60.0649 121.851 59.6607C122.891 59.2565 123.887 58.8523 124.891 58.4122C125.895 57.9721 126.846 57.5409 127.814 57.0739C128.782 56.6068 129.678 56.1487 130.601 55.6457C131.524 55.1427 132.374 54.6576 133.243 54.1367C134.112 53.6157 134.908 53.1037 135.722 52.5558C136.537 52.0079 137.279 51.4689 138.039 50.8941C138.799 50.3192 139.478 49.7623 140.165 49.1695C140.853 48.5766 141.478 47.9928 142.093 47.373C142.708 46.7533 143.269 46.1604 143.821 45.5137C144.373 44.867 144.862 44.2562 145.341 43.6005C145.821 42.9448 146.237 42.307 146.635 41.6244C147.106 40.825 147.522 40.0076 147.884 39.1543C148.364 38.0225 148.744 36.8368 148.952 35.6242C149.115 34.6452 149.169 33.6481 149.088 32.6601C149.024 31.9236 148.898 31.196 148.698 30.4774C148.499 29.7588 148.228 29.0313 147.902 28.3396C147.576 27.648 147.169 26.9204 146.735 26.2558C146.273 25.5551 145.767 24.8815 145.224 24.2437C144.645 23.5611 144.029 22.9144 143.387 22.2946C142.708 21.6389 141.993 21.0191 141.26 20.4353C140.482 19.8155 139.686 19.2227 138.871 18.6658C138.057 18.1089 137.134 17.525 136.238 16.9951C135.342 16.4651 134.356 15.9262 133.397 15.4321C132.438 14.9381 131.379 14.4351 130.357 13.977C129.334 13.5189 128.239 13.0698 127.171 12.6476C126.104 12.2255 124.918 11.8033 123.778 11.4261C122.638 11.0488 121.416 10.6626 120.222 10.3123C119.027 9.96195 117.788 9.62961 116.557 9.32421C115.326 9.01882 114.159 8.74935 112.947 8.49785C111.806 8.25533 110.666 8.03975 109.517 7.83316C108.368 7.62657 107.201 7.43794 106.033 7.27626C104.866 7.11458 103.699 6.9529 102.531 6.81817C101.364 6.68343 100.161 6.55768 98.9752 6.45888C97.7898 6.36007 96.5953 6.27025 95.4099 6.19839C94.2245 6.12653 93.021 6.07264 91.8175 6.02773C90.614 5.98282 89.4105 5.95587 88.2071 5.94689C87.0036 5.93791 85.791 5.93791 84.5875 5.94689C83.384 5.95587 82.1624 5.9918 80.9499 6.03671C79.7374 6.08162 78.5248 6.13552 77.3213 6.20737C76.1178 6.27923 74.8962 6.36007 73.6837 6.44989C72.4711 6.53972 71.2676 6.6475 70.0642 6.77325C68.8607 6.89901 67.6572 7.02476 66.4627 7.15949C65.2683 7.29422 64.0738 7.45591 62.8794 7.61759C61.6849 7.77927 60.4995 7.94993 59.3141 8.13856C58.1287 8.32718 56.9434 8.51581 55.767 8.7224C54.5907 8.929 53.4324 9.13559 52.2651 9.36014C51.0978 9.5847 49.9486 9.81824 48.7904 10.0608C47.6321 10.3033 46.5101 10.5458 45.3699 10.8063C44.2297 11.0668 43.1258 11.3273 42.0037 11.5967C40.8817 11.8662 39.6691 12.1806 38.5018 12.486C37.3345 12.7914 36.1763 13.1147 35.0271 13.4471C33.8779 13.7794 32.7377 14.1207 31.5976 14.489C30.4574 14.8573 29.3716 15.2166 28.2676 15.6028C27.1637 15.989 26.1049 16.3843 25.0372 16.8064C23.9694 17.2286 22.974 17.6418 21.9515 18.0909C20.929 18.54 19.9879 18.9891 19.0288 19.4742C18.0696 19.9592 17.1918 20.4353 16.296 20.9562C15.4002 21.4772 14.5948 21.9802 13.7714 22.5461C12.9479 23.112 12.215 23.6509 11.473 24.2527C10.731 24.8545 10.0161 25.4923 9.33746 26.1749C8.55021 26.9654 7.81726 27.8007 7.15669 28.6989C6.54137 29.5253 5.98035 30.4056 5.50076 31.3128C5.02117 32.22 4.64112 33.0823 4.31536 34.0074C3.9896 34.9326 3.74529 35.8308 3.55526 36.774C3.36523 37.7171 3.23855 38.6513 3.17521 39.5944C3.11187 40.5375 3.09377 41.4897 3.12997 42.4328C3.16616 43.3759 3.2476 44.337 3.37428 45.2891C3.50097 46.2413 3.66385 47.2024 3.86292 48.1545C4.062 49.1066 4.29726 50.0497 4.55063 50.9839C4.7678 51.7743 5.00307 52.5648 5.25644 53.3462C5.29264 53.445 5.45551 53.4091 5.41932 53.3013C5.12071 52.3761 4.84924 51.442 4.59588 50.4988C4.34251 49.5557 4.12534 48.6216 3.93531 47.6694C3.74529 46.7173 3.59146 45.7832 3.48287 44.831C3.37428 43.8789 3.30189 42.9268 3.2838 41.9747C3.2657 41.0226 3.29284 40.0794 3.38333 39.1363C3.47382 38.1932 3.6186 37.268 3.81768 36.3428C4.01675 35.4176 4.30631 34.4925 4.64112 33.6032C4.97593 32.714 5.41932 31.7798 5.90796 30.9175C6.42374 30.0103 7.00286 29.148 7.65438 28.3307C8.35114 27.4504 9.11124 26.624 9.91659 25.8516C10.5772 25.2228 11.2739 24.621 11.9978 24.0551C12.7217 23.4892 13.5271 22.9144 14.3234 22.3844C15.1197 21.8545 16.0155 21.3155 16.8842 20.8215C17.7529 20.3275 18.7211 19.8245 19.6531 19.3574C20.5852 18.8903 21.6077 18.4322 22.594 18.0011C23.5803 17.5699 24.6571 17.1388 25.6977 16.7346C26.7384 16.3304 27.8514 15.9262 28.9372 15.5579C30.0231 15.1896 31.1632 14.8124 32.2853 14.4621C33.4073 14.1118 34.5565 13.7704 35.7058 13.4471C36.855 13.1237 38.0132 12.8093 39.1805 12.5039C40.3478 12.1985 41.497 11.9111 42.6553 11.6327C43.8135 11.3542 44.8994 11.1027 46.0214 10.8512C47.1435 10.5997 48.2927 10.3482 49.4328 10.1147C50.573 9.88111 51.7403 9.64758 52.8985 9.432C54.0568 9.21643 55.2241 9.00085 56.3914 8.80324C57.5587 8.60563 58.7441 8.41701 59.9204 8.23736C61.0968 8.05772 62.3003 7.88705 63.4856 7.72537C64.6711 7.56369 65.8745 7.41998 67.069 7.28524C68.2634 7.15051 69.4669 7.02476 70.6614 6.90799C71.8558 6.79122 73.0774 6.69241 74.2809 6.60259C75.4844 6.51277 76.6969 6.43193 77.9095 6.36905C79.122 6.30618 80.3165 6.25228 81.529 6.21636C82.7416 6.18043 83.936 6.15348 85.1395 6.1445C86.343 6.13552 87.5555 6.13552 88.759 6.1445C89.9625 6.15348 91.157 6.18941 92.3514 6.23432C93.5459 6.27923 94.7403 6.34211 95.9257 6.41396C97.1111 6.48582 98.3055 6.58463 99.4909 6.69241C100.676 6.8002 101.844 6.92595 103.011 7.06069C104.178 7.19542 105.346 7.3571 106.504 7.52776C107.662 7.69843 108.811 7.89604 109.969 8.10263C111.128 8.30922 112.25 8.53378 113.39 8.78528C114.602 9.04576 115.815 9.3332 117.019 9.63859C118.222 9.94399 119.462 10.2853 120.674 10.6446C121.887 11.0039 123.036 11.3722 124.212 11.7764C125.389 12.1806 126.447 12.5668 127.551 13.0069C128.655 13.4471 129.669 13.8692 130.709 14.3453C131.75 14.8214 132.727 15.2974 133.714 15.8094C134.7 16.3214 135.605 16.8334 136.519 17.3903C137.433 17.9472 138.265 18.4861 139.107 19.07C139.948 19.6538 140.699 20.2287 141.459 20.8574C142.183 21.4503 142.871 22.07 143.541 22.7257C144.165 23.3455 144.762 23.9922 145.323 24.6749C145.848 25.3216 146.346 25.9953 146.789 26.6959C147.205 27.3606 147.585 28.0612 147.902 28.7798C148.219 29.4983 148.445 30.181 148.626 30.9086C148.807 31.6361 148.916 32.3457 148.952 33.0733C149.006 34.1422 148.907 35.22 148.671 36.262C148.409 37.4746 147.984 38.6423 147.459 39.7561C147.106 40.5106 146.708 41.2381 146.273 41.9477C145.839 42.6573 145.414 43.2771 144.943 43.9059C144.473 44.5346 143.939 45.1903 143.396 45.8011C142.853 46.4119 142.247 47.0497 141.631 47.6425C141.016 48.2353 140.337 48.8551 139.659 49.421C138.98 49.9869 138.247 50.5797 137.505 51.1276C136.763 51.6755 135.967 52.2414 135.18 52.7624C134.392 53.2833 133.524 53.8313 132.673 54.3343C131.822 54.8373 130.908 55.3493 130.013 55.8253C129.117 56.3014 128.158 56.7774 127.217 57.2266C126.275 57.6757 125.271 58.1248 124.285 58.5469C123.298 58.9691 122.249 59.3913 121.217 59.7775C120.186 60.1638 119.109 60.55 118.05 60.9093C116.991 61.2686 115.878 61.6189 114.774 61.9422C113.67 62.2656 112.53 62.589 111.399 62.8854C110.268 63.1818 109.146 63.4513 108.006 63.7117C106.866 63.9722 105.707 64.2147 104.558 64.4393C103.409 64.6639 102.215 64.8794 101.038 65.077C99.8619 65.2747 98.6765 65.4543 97.4821 65.616C96.2877 65.7777 95.0842 65.9304 93.8807 66.0651C92.6772 66.1998 91.4556 66.3166 90.234 66.4244C89.0124 66.5322 87.7908 66.622 86.5602 66.6938C85.3295 66.7657 84.1079 66.8286 82.8773 66.8825C81.6467 66.9364 80.416 66.9633 79.1854 66.9903C77.9547 67.0172 76.706 67.0172 75.4663 67.0082C74.2266 66.9992 72.996 66.9813 71.7653 66.9454C70.5347 66.9094 69.295 66.8645 68.0644 66.8106C66.8337 66.7567 65.594 66.6759 64.3634 66.595C63.1327 66.5142 61.9202 66.4154 60.6986 66.3076C59.477 66.1998 58.2645 66.0741 57.0519 65.9393C55.8394 65.8046 54.6178 65.6609 53.4053 65.4992C52.1927 65.3375 50.9802 65.1669 49.7767 64.9782C48.5732 64.7896 47.3878 64.592 46.1933 64.3854C44.9989 64.1788 43.8316 63.9453 42.6553 63.7117C41.4789 63.4782 40.3207 63.2177 39.1624 62.9482C38.0042 62.6788 36.8821 62.4003 35.751 62.1039C34.6199 61.8075 33.525 61.5021 32.421 61.1787C31.3171 60.8554 30.2493 60.523 29.1634 60.1638C28.0776 59.8045 27.0641 59.4542 26.0235 59.0679C24.9829 58.6817 23.9966 58.2954 22.9921 57.8823C21.9877 57.4691 21.0376 57.0469 20.0784 56.5978C19.1192 56.1487 18.2234 55.7086 17.3095 55.2325C16.3955 54.7564 15.554 54.2804 14.6944 53.7774C13.8347 53.2744 12.9751 52.7264 12.1426 52.1606C11.2196 51.5318 10.3238 50.8671 9.4551 50.1665C8.58641 49.4659 7.83536 48.7922 7.0843 48.0557C6.33325 47.3191 5.67269 46.6095 5.03022 45.8371C4.38775 45.0646 3.83577 44.328 3.31094 43.5286C2.81326 42.7651 2.36081 41.9747 1.96267 41.1573C1.56452 40.3399 1.25686 39.5674 0.994442 38.7411C0.732026 37.9147 0.542 37.1153 0.424365 36.2889C0.306731 35.4626 0.252438 34.6542 0.279584 33.8368C0.306731 33.0194 0.397219 32.202 0.569147 31.3936C0.741074 30.5852 1.00349 29.7498 1.32925 28.9684C1.65501 28.1869 2.08935 27.3606 2.55989 26.6061C3.12997 25.6989 3.79053 24.8545 4.49634 24.0461C5.26549 23.1748 6.08893 22.3575 6.93952 21.576C7.84441 20.7586 8.78548 19.9772 9.74466 19.2227C10.4776 18.6478 11.2287 18.0909 11.9888 17.552C12.7489 17.013 13.5361 16.4741 14.3234 15.9621C15.1106 15.4501 15.9612 14.9202 16.7937 14.4261C17.6262 13.9321 18.5039 13.4291 19.3726 12.962C20.2413 12.4949 21.1552 12.0099 22.0601 11.5608C22.965 11.1117 23.9242 10.6536 24.8653 10.2224C25.8063 9.79129 26.7927 9.36014 27.7699 8.95594C28.7472 8.55174 29.7607 8.14754 30.7651 7.77028C31.7695 7.39303 32.8282 7.00679 33.8598 6.65649C34.8914 6.30618 35.9682 5.95587 37.0269 5.62353C38.0856 5.29118 39.1895 4.9768 40.2754 4.67141C41.3613 4.36601 42.4924 4.07858 43.6144 3.80013C44.7365 3.52168 45.8766 3.26119 47.0168 3.01867C48.1569 2.77615 49.3152 2.54261 50.4734 2.33602C51.6317 2.12943 52.808 1.92284 53.9844 1.74319C55.1607 1.56355 56.3642 1.39289 57.5587 1.24917C58.7531 1.10545 59.9023 0.979703 61.0787 0.862934C62.255 0.746165 63.4133 0.656342 64.5896 0.584484C65.766 0.512626 66.9514 0.449751 68.1277 0.404839C69.3041 0.359928 70.4894 0.332981 71.6658 0.323999C72.8421 0.315017 74.0275 0.323999 75.2129 0.332981C76.3983 0.341964 77.5837 0.386875 78.7691 0.440768C79.9545 0.494662 81.1309 0.557538 82.3072 0.64736C83.4836 0.737183 84.6418 0.827005 85.8091 0.943774C86.9764 1.06054 88.1256 1.1863 89.2748 1.33899C90.424 1.49169 91.5732 1.65337 92.7134 1.83302C93.8535 2.01266 94.9665 2.20129 96.0886 2.41686C97.2106 2.63244 98.3055 2.84801 99.4095 3.09053C100.513 3.33305 101.59 3.58456 102.676 3.86301C103.762 4.14146 104.794 4.41991 105.852 4.7253C106.911 5.0307 107.915 5.34508 108.938 5.67742C109.96 6.00976 110.947 6.36007 111.942 6.72834C112.938 7.09662 113.879 7.46489 114.829 7.86909C115.869 8.30922 116.901 8.76731 117.923 9.25236C118.946 9.7374 119.959 10.2584 120.946 10.7973C121.932 11.3362 122.855 11.8752 123.787 12.45C124.719 13.0249 125.561 13.5908 126.42 14.1926C127.28 14.7944 128.058 15.3872 128.854 16.025C129.651 16.6627 130.366 17.2825 131.08 17.9472C131.795 18.6119 132.438 19.2496 133.08 19.9412C133.723 20.6329 134.284 21.2886 134.845 21.9982C135.406 22.7078 135.894 23.3904 136.374 24.118C136.854 24.8455 137.261 25.5372 137.65 26.2827C138.039 27.0282 138.365 27.7288 138.672 28.4834C138.98 29.2379 139.215 29.9654 139.423 30.7289C139.632 31.4924 139.785 32.229 139.903 32.9835C140.021 33.738 140.075 34.4925 140.093 35.247C140.102 35.8937 140.084 36.5404 140.021 37.1782C140.012 37.286 140.184 37.286 140.193 37.1782L140.229 37.1872Z"
                  )

  .container 
    .curve-wrapper
      svg#curveSvg(
        viewBox="0 0 1000 200"
        preserveAspectRatio="none"
      )
        //- CURVE BORDER
        path#curvePath(
          d="M 0 120 Q 500 120 1000 120"
          fill="none"
          stroke="#FF0004"
          stroke-width="1"
        )

        //- DOT CURSOR
        circle#curveDot(
          cx="500"
          cy="120"
          r="6"
          fill="#FF0004"
        )


    .container 
     .footer-flex
      .footer-line-image
        img(src="/images/bottom-footer-image.png", alt="")

      .left-text
        img(src="/images/footer-right-side-image.png", alt="")

      .right-form
        h1 MYTH CREATION
        p Join the list. We promise nothing.

        .email-flex
          input(type="email", placeholder="Enter your email")
          .outer-btn
             button.footer-wrap
              span.footer-oval__text Sign Up
               svg.footer-oval__svg(width="129" height="11" viewBox="0 0 129 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                path.footer-oval__path(d="M0.207707 4.48743C0.692376 4.44741 1.1726 4.40739 1.65727 4.36737C2.14194 4.32736 2.62216 4.28734 3.10683 4.24732C3.5915 4.2073 4.07172 4.16728 4.55639 4.12726C5.04106 4.08724 5.51684 4.04723 6.00151 4.01165C6.48618 3.97608 6.9664 3.93606 7.45107 3.89604C7.93574 3.85603 8.41596 3.82045 8.90063 3.78488C9.3853 3.74931 9.86553 3.70929 10.3502 3.67372C10.8349 3.63815 11.3195 3.59813 11.7998 3.56256C12.28 3.52698 12.7691 3.49141 13.2493 3.45584C13.7295 3.42027 14.2187 3.3847 14.6989 3.34912C15.1791 3.31355 15.6638 3.27798 16.144 3.24685C16.6242 3.21573 17.1133 3.18016 17.5936 3.14458C18.0738 3.10901 18.5629 3.07789 19.0431 3.04231C19.5233 3.00674 20.0125 2.97562 20.4927 2.94449C20.9729 2.91337 21.462 2.87779 21.9422 2.84667C22.4225 2.81554 22.9116 2.78442 23.3918 2.74885C23.872 2.71327 24.3611 2.68659 24.8458 2.65547C25.3305 2.62434 25.8107 2.59322 26.2909 2.56209C26.7712 2.53097 27.2603 2.49984 27.7449 2.47316C28.2296 2.44648 28.7143 2.41536 29.1989 2.38423C29.6836 2.35311 30.1683 2.32643 30.653 2.2953C31.1376 2.26418 31.6223 2.2375 32.107 2.21082C32.5916 2.18414 33.0763 2.15301 33.561 2.12633C34.0456 2.09965 34.5259 2.07298 35.0061 2.0463C35.4863 2.01962 35.9754 1.99294 36.4601 1.96626C36.9448 1.93958 37.4294 1.9129 37.9141 1.88622C38.3988 1.85954 38.8834 1.83286 39.3681 1.81063C39.8528 1.7884 40.3375 1.76172 40.8221 1.73504C41.3068 1.70836 41.7915 1.68613 42.2761 1.6639C42.7608 1.64166 43.2455 1.61498 43.7301 1.59275C44.2148 1.57052 44.695 1.54829 45.1753 1.52161C45.6555 1.49493 46.1446 1.47714 46.6293 1.45491C47.1139 1.43268 47.5986 1.41045 48.0833 1.38821C48.5679 1.36598 49.0526 1.34375 49.5373 1.32596C50.022 1.30818 50.5066 1.28594 50.9913 1.26371C51.476 1.24148 51.9606 1.22369 52.4453 1.20146C52.93 1.17923 53.4102 1.16144 53.8904 1.14366C54.3706 1.12587 54.8598 1.10364 55.3444 1.08585C55.8291 1.06806 56.3004 1.05028 56.7806 1.03249C57.2609 1.01471 57.7322 0.99692 58.208 0.979134C58.6838 0.961348 59.1595 0.943562 59.6398 0.930222C60.12 0.916883 60.5913 0.899097 61.0715 0.881311C61.5518 0.863525 62.0231 0.850185 62.5033 0.836846C62.9835 0.823506 63.4549 0.810167 63.9262 0.796827C64.3975 0.783488 64.8822 0.774595 65.358 0.761255C65.8337 0.747916 66.314 0.739023 66.7897 0.73013C67.2655 0.721237 67.7457 0.712344 68.2215 0.703451C68.6973 0.694558 69.1775 0.690111 69.6533 0.685665C70.1291 0.681218 70.6093 0.676771 71.0851 0.672325C71.5608 0.667878 72.0411 0.667878 72.5168 0.663432C72.9926 0.658985 73.4684 0.663432 73.9397 0.663432C74.4111 0.663432 74.8957 0.663432 75.3715 0.672325C75.8473 0.681218 76.3231 0.681218 76.8033 0.685665C77.2835 0.690111 77.7548 0.699004 78.2351 0.707897C78.7153 0.71679 79.1866 0.725683 79.6624 0.739023C80.1382 0.752362 80.6139 0.765702 81.0897 0.779041C81.5655 0.792381 82.0413 0.810167 82.517 0.827953C82.9928 0.845739 83.4641 0.867971 83.9355 0.890204C84.4068 0.912436 84.887 0.934669 85.3628 0.961348C85.8386 0.988027 86.3144 1.01471 86.7901 1.04139C87.2659 1.06806 87.7417 1.10364 88.213 1.13476C88.6843 1.16589 89.1601 1.20146 89.6359 1.24148C90.1117 1.2815 90.583 1.31707 91.0588 1.35709C91.5346 1.39711 92.0014 1.44157 92.4728 1.48604C92.9441 1.5305 93.4199 1.57941 93.8912 1.62832C94.3625 1.67724 94.8383 1.73059 95.3096 1.78395C95.781 1.83731 96.2568 1.89512 96.7281 1.95737C97.1994 2.01962 97.6707 2.07742 98.1421 2.14412C98.6134 2.21082 99.0847 2.27752 99.5561 2.34421C100.027 2.41091 100.499 2.4865 100.97 2.56209C101.441 2.63768 101.904 2.71327 102.366 2.79331C102.829 2.87335 103.291 2.95338 103.749 3.03787C104.207 3.12235 104.67 3.20684 105.132 3.30021C105.594 3.39359 106.052 3.48252 106.51 3.5759C106.968 3.66927 107.426 3.77154 107.884 3.87381C108.342 3.97608 108.8 4.07835 109.254 4.18951C109.707 4.30068 110.165 4.40739 110.619 4.523C111.073 4.63861 111.522 4.75422 111.975 4.87428C112.429 4.99433 112.878 5.11883 113.331 5.24778C113.785 5.37673 114.234 5.50568 114.679 5.64352C115.123 5.78136 115.577 5.91921 116.021 6.06149C116.435 6.19489 116.844 6.32829 117.258 6.46613C117.324 6.48836 117.355 6.38164 117.289 6.35941C116.844 6.20823 116.399 6.06149 115.955 5.91921C115.51 5.77692 115.061 5.63908 114.612 5.50568C114.163 5.37229 113.714 5.23889 113.26 5.10994C112.807 4.98099 112.358 4.85649 111.904 4.73643C111.45 4.61638 110.997 4.50077 110.543 4.38516C110.09 4.26955 109.636 4.16284 109.183 4.05612C108.729 3.9494 108.271 3.84269 107.813 3.74486C107.355 3.64704 106.897 3.54477 106.439 3.45139C105.981 3.35802 105.519 3.26464 105.061 3.17571C104.603 3.08678 104.14 2.99785 103.678 2.91781C103.216 2.83778 102.753 2.75329 102.291 2.67325C101.828 2.59322 101.352 2.51763 100.886 2.44204C100.419 2.36645 99.9429 2.2953 99.4716 2.2286C99.0003 2.16191 98.5289 2.09521 98.0576 2.02851C97.5863 1.96181 97.1149 1.90401 96.6392 1.84176C96.1634 1.77951 95.7009 1.72615 95.2296 1.67279C94.7583 1.61943 94.2825 1.56607 93.8112 1.51716C93.3399 1.46825 92.8641 1.41934 92.3927 1.37487C91.9214 1.33041 91.4456 1.28594 90.9699 1.24592C90.4941 1.20591 90.0227 1.16589 89.547 1.13032C89.0712 1.09474 88.5999 1.05917 88.1241 1.0236C87.6483 0.988027 87.1725 0.961348 86.7012 0.930222C86.2299 0.899097 85.7496 0.872418 85.2739 0.850185C84.7981 0.827953 84.3223 0.801274 83.8465 0.779041C83.3708 0.756809 82.895 0.739023 82.4192 0.71679C81.9434 0.694558 81.4721 0.681218 80.9963 0.667878C80.5206 0.654539 80.0448 0.641199 79.569 0.62786C79.0932 0.61452 78.6175 0.605627 78.1417 0.596734C77.6659 0.587841 77.1901 0.578948 76.7099 0.574502C76.2297 0.570055 75.7583 0.565609 75.2781 0.561162C74.7979 0.556716 74.3221 0.556716 73.8463 0.552269C73.3706 0.547823 72.8903 0.552269 72.4146 0.552269C71.9388 0.552269 71.4586 0.552269 70.9828 0.561162C70.507 0.570055 70.0268 0.570055 69.551 0.574502C69.0752 0.578948 68.595 0.587841 68.1192 0.596734C67.6435 0.605627 67.1677 0.61452 66.6964 0.623413C66.225 0.632306 65.7404 0.641199 65.2646 0.654539C64.7888 0.667878 64.3086 0.676772 63.8328 0.690111C63.357 0.703451 62.8768 0.71679 62.401 0.73013C61.9253 0.743469 61.4495 0.756809 60.9693 0.774595C60.489 0.792381 60.0177 0.80572 59.5375 0.823506C59.0573 0.841292 58.5859 0.854632 58.1057 0.872418C57.6255 0.890204 57.1542 0.90799 56.6784 0.925776C56.2026 0.943562 55.7179 0.961348 55.2422 0.979134C54.7664 0.99692 54.2728 1.01471 53.7881 1.03694C53.3035 1.05917 52.8233 1.07696 52.343 1.09474C51.8628 1.11253 51.3737 1.13476 50.889 1.15699C50.4044 1.17923 49.9197 1.19701 49.435 1.21925C48.9503 1.24148 48.4657 1.26371 47.981 1.2815C47.4963 1.29928 47.0117 1.32596 46.527 1.34819C46.0423 1.37043 45.5577 1.39266 45.073 1.41489C44.5883 1.43712 44.1036 1.45936 43.619 1.48604C43.1343 1.51272 42.6496 1.53495 42.165 1.55718C41.6803 1.57941 41.1956 1.60609 40.711 1.62832C40.2263 1.65056 39.7461 1.67724 39.2658 1.70392C38.7856 1.73059 38.2965 1.75283 37.8118 1.77951C37.3272 1.80619 36.8425 1.83286 36.3578 1.85954C35.8732 1.88622 35.3885 1.9129 34.9038 1.93958C34.4192 1.96626 33.9345 1.99294 33.4498 2.01962C32.9651 2.0463 32.4805 2.07298 31.9958 2.1041C31.5111 2.13523 31.0265 2.16191 30.5418 2.18858C30.0571 2.21526 29.5725 2.24639 29.0878 2.27752C28.6031 2.30864 28.1184 2.33532 27.6338 2.36645C27.1491 2.39757 26.6644 2.4287 26.1798 2.45538C25.6951 2.48205 25.2104 2.51763 24.7258 2.54875C24.2411 2.57988 23.7609 2.611 23.2806 2.64213C22.8004 2.67325 22.3113 2.70438 21.8311 2.73995C21.3509 2.77552 20.8617 2.80665 20.3815 2.83778C19.9013 2.8689 19.4122 2.90447 18.932 2.9356C18.4517 2.96672 17.9626 3.0023 17.4824 3.03787C17.0022 3.07344 16.5131 3.10457 16.0328 3.14014C15.5526 3.17571 15.0635 3.21128 14.5833 3.24685C14.103 3.28243 13.6139 3.318 13.1337 3.35357C12.6535 3.38914 12.1644 3.42471 11.6841 3.46029C11.2039 3.49586 10.7237 3.53143 10.239 3.57145C9.75436 3.61147 9.27414 3.64704 8.78947 3.68261C8.3048 3.71818 7.82458 3.7582 7.33991 3.79822C6.85524 3.83824 6.37502 3.87381 5.89035 3.91383C5.40568 3.95385 4.92545 3.98942 4.44078 4.02944C3.95611 4.06946 3.47589 4.10948 2.99122 4.1495C2.50655 4.18951 2.02633 4.22953 1.54166 4.26955C1.09701 4.30512 0.647911 4.34514 0.20326 4.38071C0.132116 4.38516 0.132116 4.49632 0.20326 4.49188H0.207707V4.48743Z" fill="#FF0004" stroke="#FF0004" stroke-width="0.3")
                path.footer-oval__path(d="M3.09346 5.81673C3.5559 5.74114 4.01834 5.6611 4.48077 5.58551C4.94321 5.50992 5.4012 5.43433 5.86364 5.36319C6.32607 5.29204 6.78851 5.21645 7.25095 5.14531C7.71339 5.07416 8.17138 5.00302 8.63381 4.93188C9.09625 4.86073 9.55869 4.78959 10.0256 4.72289C10.4925 4.65619 10.946 4.58505 11.4084 4.51835C11.8709 4.45165 12.3378 4.38496 12.8002 4.31826C13.2626 4.25156 13.7251 4.18931 14.1875 4.12261C14.6499 4.05591 15.1168 3.99366 15.5793 3.93141C16.0417 3.86916 16.5041 3.80691 16.9666 3.74466C17.429 3.68241 17.8959 3.6246 18.3583 3.56235C18.8208 3.5001 19.2832 3.4423 19.7456 3.38449C20.2081 3.32669 20.675 3.26888 21.1418 3.21108C21.6087 3.15327 22.0667 3.09991 22.5292 3.04656C22.9916 2.9932 23.4585 2.93984 23.9254 2.88648C24.3922 2.83312 24.8502 2.77977 25.3171 2.73085C25.784 2.68194 26.2464 2.62858 26.7133 2.57967C27.1802 2.53076 27.6426 2.48185 28.1051 2.43294C28.5675 2.38403 29.0388 2.33511 29.5013 2.29065C29.9637 2.24618 30.4306 2.19727 30.893 2.15281C31.3555 2.10834 31.8268 2.06388 32.2937 2.01941C32.7606 1.97495 33.223 1.93493 33.6854 1.89046C34.1479 1.846 34.6192 1.80598 35.0861 1.76596C35.553 1.72594 36.0154 1.68592 36.4779 1.64591C36.9403 1.60589 37.4116 1.57032 37.8785 1.5303C38.3454 1.49028 38.8078 1.45915 39.2747 1.42358C39.7416 1.38801 40.2085 1.35244 40.6754 1.32131C41.1422 1.29019 41.6047 1.25461 42.0716 1.22349C42.5384 1.19236 43.0053 1.16124 43.4722 1.13011C43.9391 1.09899 44.4015 1.06786 44.8684 1.04118C45.3353 1.0145 45.8022 0.983376 46.2735 0.956697C46.7448 0.930018 47.2028 0.903339 47.6697 0.87666C48.1366 0.849981 48.6035 0.827748 49.0748 0.801069C49.5461 0.77439 50.0041 0.752157 50.471 0.729925C50.9379 0.707692 51.4048 0.68546 51.8761 0.663227C52.3474 0.640995 52.8099 0.623209 53.2723 0.605423C53.7348 0.587637 54.2105 0.56985 54.6774 0.552064C55.1443 0.534278 55.6112 0.516492 56.0736 0.503153C56.5361 0.489813 57.0118 0.472027 57.4787 0.458688C57.9456 0.445348 58.4125 0.432009 58.8749 0.418669C59.3374 0.40533 59.8131 0.39199 60.28 0.383097C60.7469 0.374204 61.2138 0.360865 61.6762 0.351972C62.1387 0.343078 62.6144 0.334185 63.0813 0.325292C63.5482 0.316399 64.0151 0.311953 64.482 0.30306C64.9489 0.294167 65.4202 0.28972 65.8871 0.285274C66.354 0.280827 66.8208 0.276381 67.2877 0.271934C67.7546 0.267488 68.2259 0.267488 68.6928 0.263041C69.1597 0.258595 69.6266 0.263041 70.0935 0.263041C70.5603 0.263041 71.0317 0.263041 71.4986 0.263041C71.9654 0.263041 72.4323 0.263041 72.8992 0.271934C73.3661 0.280827 73.8374 0.280827 74.3043 0.285274C74.7712 0.28972 75.2381 0.294167 75.705 0.30306C76.1719 0.311953 76.6432 0.316399 77.1101 0.325292C77.577 0.334185 78.0438 0.343078 78.5107 0.351972C78.9776 0.360865 79.4489 0.374204 79.9158 0.383097C80.3827 0.39199 80.8496 0.40533 81.312 0.418669C81.7745 0.432009 82.2502 0.445348 82.7171 0.458688C83.184 0.472027 83.6509 0.489813 84.1133 0.503153C84.5758 0.516492 85.0515 0.538725 85.5184 0.556511C85.9853 0.574297 86.4522 0.592083 86.9146 0.614316C87.3771 0.636548 87.8528 0.654334 88.3197 0.676567C88.7866 0.698799 89.249 0.721032 89.7159 0.743264C90.1828 0.765497 90.6497 0.78773 91.121 0.814409C91.5923 0.841088 92.0503 0.86332 92.5172 0.889999C92.9841 0.916678 93.451 0.943357 93.9223 0.970036C94.3936 0.996715 94.8516 1.02784 95.3185 1.05452C95.7854 1.0812 96.2523 1.11232 96.7192 1.14345C97.1861 1.17458 97.6485 1.2057 98.1154 1.23683C98.5823 1.26795 99.0491 1.30352 99.516 1.33465C99.9829 1.36578 100.445 1.40135 100.912 1.43692C101.379 1.47249 101.846 1.50806 102.313 1.54808C102.78 1.5881 103.242 1.62367 103.709 1.66369C104.176 1.70371 104.643 1.74373 105.11 1.78375C105.577 1.82377 106.039 1.86378 106.501 1.90825C106.964 1.95272 107.435 1.99273 107.902 2.0372C108.369 2.08166 108.831 2.12613 109.294 2.17059C109.756 2.21506 110.228 2.26397 110.695 2.30844C111.161 2.3529 111.628 2.40181 112.091 2.45072C112.553 2.49964 113.02 2.54855 113.483 2.59746C113.945 2.64637 114.407 2.69973 114.874 2.74864C115.341 2.79755 115.804 2.85536 116.27 2.90871C116.702 2.95763 117.129 3.00654 117.56 3.0599C117.591 3.0599 117.613 3.03322 117.613 3.00654C117.613 2.97541 117.587 2.95318 117.56 2.95318C117.093 2.89982 116.631 2.84202 116.164 2.78866C115.697 2.7353 115.239 2.68194 114.772 2.63303C114.305 2.58412 113.843 2.53076 113.376 2.48185C112.909 2.43294 112.446 2.38403 111.984 2.33511C111.522 2.2862 111.05 2.23729 110.588 2.19283C110.125 2.14836 109.659 2.09945 109.196 2.05498C108.734 2.01052 108.262 1.96605 107.795 1.92159C107.329 1.87712 106.866 1.83711 106.404 1.79264C105.941 1.74818 105.47 1.70816 105.003 1.66814C104.536 1.62812 104.069 1.5881 103.602 1.54808C103.135 1.50806 102.673 1.47249 102.206 1.43247C101.739 1.39245 101.272 1.35688 100.806 1.32131C100.339 1.28574 99.8762 1.25017 99.4093 1.21904C98.9424 1.18792 98.4755 1.15234 98.0087 1.12122C97.5418 1.09009 97.0793 1.05897 96.6124 1.02784C96.1456 0.996715 95.6787 0.96559 95.2118 0.938911C94.7449 0.912232 94.2825 0.881106 93.8156 0.854427C93.3487 0.827748 92.8818 0.801069 92.4105 0.77439C91.9392 0.747711 91.4767 0.725478 91.0054 0.698799C90.5341 0.67212 90.0761 0.649888 89.6092 0.627655C89.1423 0.605423 88.6754 0.58319 88.2041 0.560957C87.7328 0.538725 87.2703 0.520939 86.8079 0.498706C86.3455 0.476474 85.8697 0.458688 85.4028 0.440902C84.9359 0.423116 84.469 0.40533 84.0066 0.39199C83.5442 0.378651 83.0684 0.360865 82.6015 0.347525C82.1346 0.334185 81.6677 0.320846 81.2053 0.307506C80.7429 0.294167 80.2671 0.280827 79.8002 0.271934C79.3333 0.263041 78.862 0.249702 78.3951 0.240809C77.9282 0.231916 77.4613 0.223023 76.9945 0.21413C76.5276 0.205237 76.0562 0.20079 75.5894 0.191897C75.1225 0.183004 74.6556 0.178558 74.1887 0.174111C73.7218 0.169665 73.2505 0.165218 72.7836 0.160772C72.3167 0.156325 71.8498 0.156325 71.383 0.151879C70.9161 0.147432 70.4447 0.151879 69.9779 0.151879C69.511 0.151879 69.0441 0.151879 68.5772 0.151879C68.1103 0.151879 67.639 0.151879 67.1721 0.160772C66.7052 0.169665 66.2339 0.169665 65.767 0.174111C65.3001 0.178558 64.8333 0.183004 64.3664 0.191897C63.8995 0.20079 63.4282 0.205237 62.9613 0.21413C62.4944 0.223023 62.0275 0.231916 61.5606 0.240809C61.0937 0.249702 60.6224 0.263041 60.1555 0.271934C59.6886 0.280827 59.2218 0.294167 58.7593 0.307506C58.2969 0.320846 57.8211 0.334185 57.3542 0.347525C56.8873 0.360865 56.4204 0.378651 55.958 0.39199C55.4956 0.40533 55.0198 0.423116 54.5529 0.440902C54.086 0.458688 53.6147 0.476474 53.1478 0.498706C52.6809 0.520939 52.2141 0.538725 51.7516 0.560957C51.2892 0.58319 50.8134 0.605423 50.3465 0.627655C49.8796 0.649888 49.4172 0.67212 48.9503 0.698799C48.4834 0.725478 48.0165 0.747711 47.5452 0.77439C47.0739 0.801069 46.6159 0.827748 46.149 0.854427C45.6821 0.881106 45.2152 0.912232 44.7439 0.938911C44.2726 0.96559 43.8146 0.996715 43.3477 1.02784C42.8808 1.05897 42.4139 1.09009 41.9471 1.12122C41.4802 1.15234 41.0133 1.18792 40.5464 1.21904C40.0795 1.25017 39.6171 1.28574 39.1502 1.32131C38.6833 1.35688 38.2164 1.39245 37.7496 1.43247C37.2827 1.47249 36.8202 1.50806 36.3534 1.54808C35.8865 1.5881 35.4196 1.62812 34.9527 1.66814C34.4858 1.70816 34.0234 1.74818 33.5609 1.79264C33.0985 1.83711 32.6272 1.87712 32.1603 1.92159C31.6934 1.96605 31.231 2.01052 30.7685 2.05498C30.3061 2.09945 29.8348 2.14836 29.3679 2.19283C28.901 2.23729 28.4341 2.2862 27.9717 2.33511C27.5092 2.38403 27.0424 2.43294 26.5799 2.48185C26.1175 2.53076 25.6462 2.58412 25.1837 2.63303C24.7213 2.68194 24.2588 2.7353 23.792 2.78866C23.3251 2.84202 22.8626 2.89538 22.3958 2.95318C21.9289 3.01098 21.4709 3.06434 21.0084 3.1177C20.546 3.17106 20.0791 3.23331 19.6122 3.29111C19.1454 3.34892 18.6874 3.40672 18.2249 3.46897C17.7625 3.53123 17.2956 3.58903 16.8332 3.65128C16.3707 3.71353 15.9039 3.77578 15.437 3.83804C14.9701 3.90029 14.5121 3.96254 14.0497 4.02924C13.5872 4.09593 13.1203 4.15818 12.6579 4.22488C12.1955 4.29158 11.733 4.35828 11.275 4.42497C10.817 4.49167 10.3502 4.56282 9.88328 4.62951C9.4164 4.69621 8.96285 4.76736 8.50042 4.8385C8.03798 4.90964 7.57554 4.98079 7.11311 5.05193C6.65067 5.12308 6.19268 5.19867 5.73024 5.26981C5.26781 5.34096 4.80537 5.42099 4.34293 5.49658C3.91607 5.56773 3.4892 5.63887 3.06234 5.71002C3.03121 5.71446 3.01787 5.75003 3.02232 5.77671C3.03121 5.80784 3.06234 5.82118 3.08902 5.81673H3.09346Z" fill="#FF0004" stroke="#FF0004" stroke-width="0.3")
                path.footer-oval__path(d="M3.23139 6.39079L4.79211 6.34633L6.36173 6.30186L7.92246 6.2574L9.48318 6.21293L11.0528 6.16847C11.573 6.15513 12.0933 6.13734 12.6135 6.124C13.1338 6.11066 13.654 6.09288 14.1742 6.07954C14.6945 6.0662 15.2147 6.04841 15.735 6.03507C16.2552 6.02173 16.7799 6.00395 17.3046 5.99061L18.8653 5.94614L20.426 5.90168L21.9957 5.85721L23.5564 5.81275L25.1171 5.76828L26.6867 5.72382L28.2474 5.67935C28.7588 5.66601 29.2746 5.64823 29.7859 5.63489C30.2973 5.62155 30.7997 5.60376 31.3111 5.59042C31.8224 5.57708 32.3249 5.5593 32.8274 5.54596C33.3298 5.53262 33.8412 5.51928 34.3436 5.50149C34.8461 5.48371 35.3619 5.47481 35.8688 5.45703C36.3757 5.43924 36.8826 5.43035 37.3895 5.41701C37.8964 5.40367 38.4033 5.39033 38.9102 5.37699C39.4171 5.36365 39.924 5.35031 40.4309 5.33697C40.9378 5.32363 41.4491 5.31029 41.956 5.29695C42.4629 5.28361 42.9698 5.27027 43.4767 5.26138C43.9836 5.25249 44.4905 5.23915 44.9975 5.22581C45.5044 5.21247 46.0157 5.20358 46.5226 5.19024C47.0295 5.1769 47.5364 5.168 48.0433 5.15911C48.5502 5.15022 49.0571 5.14133 49.564 5.12799C50.0709 5.11465 50.5778 5.1102 51.0847 5.10131C51.5916 5.09241 52.103 5.08352 52.6143 5.07463C53.1257 5.06573 53.6281 5.06129 54.135 5.0524C54.6419 5.0435 55.1488 5.03906 55.6557 5.03461C56.1626 5.03016 56.674 5.02127 57.1853 5.01682C57.6967 5.01238 58.1991 5.00793 58.706 5.00348C59.2129 4.99904 59.7199 4.99459 60.2268 4.99459C60.7337 4.99459 61.245 4.99014 61.7519 4.9857C62.2588 4.98125 62.7657 4.9857 63.2726 4.9857C63.7795 4.9857 64.2864 4.9857 64.7933 4.9857C65.3002 4.9857 65.8116 4.9857 66.3185 4.9857C66.8254 4.9857 67.3323 4.99014 67.8392 4.99459C68.3461 4.99904 68.853 5.00348 69.3599 5.00793C69.8668 5.01238 70.3781 5.01682 70.885 5.02572C71.3919 5.03461 71.8988 5.03906 72.4057 5.04795C72.9126 5.05684 73.4195 5.06573 73.9264 5.07463C74.4333 5.08352 74.9403 5.09241 75.4427 5.10575C75.9452 5.11909 76.461 5.12799 76.9679 5.14133C77.4748 5.15467 77.9817 5.168 78.4841 5.18134C78.9866 5.19468 79.4935 5.21247 80.0004 5.22581C80.5073 5.23915 81.0142 5.26138 81.5255 5.27917C82.0369 5.29695 82.5349 5.31474 83.0418 5.33697C83.5487 5.3592 84.0511 5.37699 84.5581 5.39922C85.065 5.42146 85.5674 5.44369 86.0743 5.46592C86.5812 5.48815 87.0881 5.51483 87.595 5.54151C88.1019 5.56819 88.6044 5.59487 89.1068 5.62155C89.6093 5.64823 90.1162 5.67935 90.6186 5.71048C91.1211 5.7416 91.6324 5.77273 92.1393 5.80386C92.6462 5.83498 93.1487 5.87055 93.6512 5.90613C94.1536 5.9417 94.6605 5.97727 95.163 6.01284C95.6654 6.04841 96.1723 6.08843 96.6792 6.12845C97.1861 6.16847 97.6841 6.20849 98.1866 6.24851C98.6891 6.28852 99.1915 6.33299 99.694 6.37746C100.196 6.42192 100.703 6.46639 101.21 6.5153C101.717 6.56421 102.215 6.60867 102.718 6.66203C103.22 6.71539 103.723 6.7643 104.225 6.81321C104.727 6.86213 105.234 6.91993 105.737 6.97329C106.239 7.02665 106.737 7.08445 107.24 7.14226C107.742 7.20006 108.24 7.25786 108.743 7.32012C109.245 7.38237 109.743 7.44462 110.246 7.50687C110.748 7.56912 111.25 7.63582 111.753 7.70252C112.255 7.76921 112.753 7.83591 113.251 7.90705C113.749 7.9782 114.252 8.04934 114.75 8.12049C115.248 8.19163 115.755 8.26722 116.253 8.34281C116.751 8.4184 117.249 8.49399 117.747 8.57403C118.245 8.65407 118.743 8.73411 119.241 8.81414C119.739 8.89418 120.237 8.97866 120.735 9.06315C121.233 9.14763 121.735 9.23656 122.233 9.32549C122.731 9.41442 123.229 9.50335 123.723 9.59673C124.216 9.6901 124.714 9.78348 125.212 9.87686C125.71 9.97023 126.208 10.0681 126.706 10.1703C127.164 10.2637 127.622 10.3526 128.08 10.4505C128.152 10.4638 128.178 10.3571 128.112 10.3437C127.614 10.2415 127.116 10.1392 126.618 10.0414C126.12 9.94356 125.626 9.84573 125.128 9.75236C124.63 9.65898 124.136 9.5656 123.638 9.47223C123.14 9.37885 122.642 9.28992 122.14 9.20099C121.637 9.11206 121.144 9.02757 120.646 8.94309C120.148 8.85861 119.65 8.77412 119.152 8.69409C118.654 8.61405 118.151 8.52957 117.649 8.45398C117.147 8.37838 116.653 8.29835 116.155 8.22276C115.657 8.14717 115.159 8.07158 114.656 8.00043C114.154 7.92929 113.652 7.85814 113.154 7.787C112.656 7.71586 112.153 7.64916 111.651 7.58246C111.148 7.51576 110.65 7.45351 110.152 7.38681C109.654 7.32012 109.147 7.26231 108.645 7.20006C108.142 7.13781 107.644 7.08 107.142 7.0222C106.639 6.96439 106.141 6.90659 105.639 6.85323C105.136 6.79987 104.63 6.74652 104.127 6.69316C103.625 6.6398 103.122 6.59089 102.62 6.54198C102.117 6.49306 101.615 6.44415 101.112 6.39969C100.61 6.35522 100.103 6.30631 99.5961 6.26185C99.0892 6.21738 98.5912 6.17292 98.0888 6.1329C97.5863 6.09288 97.0839 6.04841 96.5814 6.01284C96.079 5.97727 95.5721 5.9328 95.0651 5.89723C94.5583 5.86166 94.0558 5.82609 93.5533 5.79052C93.0509 5.75494 92.5395 5.72382 92.0371 5.68825C91.5346 5.65267 91.0277 5.62599 90.5253 5.59487C90.0228 5.56374 89.5159 5.53706 89.0135 5.50594C88.511 5.47481 87.9996 5.45258 87.4927 5.4259C86.9858 5.39922 86.4834 5.37699 85.9765 5.35031C85.4696 5.32363 84.9671 5.30585 84.4602 5.28361C83.9533 5.26138 83.4464 5.23915 82.9395 5.22136C82.4326 5.20358 81.9302 5.18134 81.4233 5.16356C80.9164 5.14577 80.4139 5.12799 79.907 5.11465C79.4001 5.10131 78.8932 5.08352 78.3818 5.07018C77.8705 5.05684 77.368 5.0435 76.8656 5.03016C76.3631 5.01682 75.8473 5.00793 75.3404 4.99459C74.8335 4.98125 74.3266 4.97236 73.8242 4.96346C73.3217 4.95457 72.8104 4.94568 72.3035 4.93679C71.7966 4.92789 71.2852 4.92345 70.7783 4.91455C70.2714 4.90566 69.7645 4.90121 69.2576 4.89677C68.7507 4.89232 68.2438 4.88787 67.7369 4.88343C67.23 4.87898 66.7187 4.87898 66.2118 4.87453C65.7048 4.87009 65.1979 4.87453 64.691 4.87453C64.1841 4.87453 63.6772 4.87453 63.1703 4.87453C62.6634 4.87453 62.1521 4.87453 61.6452 4.87453C61.1383 4.87453 60.6314 4.87454 60.1245 4.88343C59.6176 4.89232 59.1107 4.88787 58.6038 4.89232C58.0969 4.89677 57.5855 4.90121 57.0742 4.90566C56.5628 4.91011 56.0604 4.91455 55.5535 4.92345C55.0466 4.93234 54.5397 4.93679 54.0328 4.94123C53.5259 4.94568 53.0145 4.95457 52.5032 4.96346C51.9918 4.97236 51.4894 4.98125 50.9825 4.99014C50.4756 4.99904 49.9687 5.00793 49.4617 5.01682C48.9548 5.02572 48.4435 5.03461 47.9321 5.04795C47.4208 5.06129 46.9183 5.07018 46.4114 5.07907C45.9045 5.08797 45.3976 5.10131 44.8907 5.11465C44.3838 5.12799 43.8725 5.13688 43.3656 5.15022C42.8587 5.16356 42.3518 5.17245 41.8449 5.18579C41.338 5.19913 40.8266 5.21247 40.3197 5.22581C39.8128 5.23915 39.3059 5.25249 38.799 5.26583C38.2921 5.27917 37.7852 5.29251 37.2783 5.30585C36.7714 5.31919 36.2601 5.33253 35.7532 5.34587C35.2463 5.3592 34.7394 5.37254 34.2369 5.39033C33.7344 5.40812 33.2231 5.41701 32.7206 5.4348C32.2182 5.45258 31.7024 5.46592 31.1955 5.47926C30.6886 5.4926 30.1861 5.51039 29.6792 5.52373C29.1723 5.53706 28.6521 5.55485 28.1363 5.56819L26.5667 5.61266L25.0059 5.65712L23.4363 5.70159L21.8756 5.74605C21.3554 5.75939 20.8351 5.77718 20.3149 5.79052L18.7453 5.83498L17.1845 5.87945L15.6238 5.92391L14.0542 5.96838L12.4935 6.01284C11.9732 6.02618 11.453 6.04397 10.9327 6.05731L9.36312 6.10177L7.8024 6.14624L6.24168 6.1907L4.67206 6.23517L3.22694 6.27519C3.1558 6.27519 3.1558 6.38635 3.22694 6.38635L3.23139 6.39079Z" fill="#FF0004" stroke="#FF0004" stroke-width="0.3")

        .social-icons-footer 
          a(href="#")
            img(src="/images/red-facebook-icon.png", alt="")
          a(href="#")
            img(src="/images/red-linkdin-icon.png", alt="")
          a(href="#")
            img(src="/images/red-insta-icon.png", alt="")

        .footer
          span Terms & Conditions
          span Privacy
  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js")
    script.
        document.querySelectorAll(".fate-oval").forEach((wrap) => {
          const path = wrap.querySelector(".fate-oval__path");
          const text = wrap.querySelector(".fate-oval__text");

          if (!path) return;

          const length = path.getTotalLength();

          gsap.set(path, {
            strokeDasharray: length,
            strokeDashoffset: length
          });

          const tl = gsap.timeline({ paused: true });

          tl.to(path, {
            strokeDashoffset: 0,
            duration: 1.6,
            ease: "power2.out"
          });

          wrap.addEventListener("mouseenter", () => {
            tl.play();
            gsap.to(text, { scale: 1.05, duration: 0.2 });
          });

          wrap.addEventListener("mouseleave", () => {
            tl.reverse();
            gsap.to(text, { scale: 1, duration: 0.2 });
          });
        });
    script.
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".footer-oval").forEach((wrap) => {
          const path = wrap.querySelector(".footer-oval__path");
          const text = wrap.querySelector(".footer-oval__text");

          if (!path || !text) return;

          const length = path.getTotalLength();

          gsap.set(path, {
            strokeDasharray: length,
            strokeDashoffset: length
          });

          const tl = gsap.timeline({ paused: true });

          tl.to(path, {
            strokeDashoffset: 0,
            duration: 1.6,
            ease: "power2.out"
          });

          wrap.addEventListener("mouseenter", () => {
            tl.play();
            gsap.to(text, {
              scale: 1.05,
              duration: 0.2,
              ease: "power2.out"
            });
          });

          wrap.addEventListener("mouseleave", () => {
            tl.reverse();
            gsap.to(text, {
              scale: 1,
              duration: 0.2,
              ease: "power2.out"
            });
          });
        });
      });

    script.
      const svg = document.getElementById("curveSvg");
      const path = document.getElementById("curvePath");
      const dot = document.getElementById("curveDot");

      const start = { x: 0, y: 120 };
      const end = { x: 1000, y: 120 };
      const BASE_Y = 120;
      const MAX_BEND = 60;

      function updateCurve(bend) {
        path.setAttribute(
          "d",
          `M ${start.x} ${start.y} Q 500 ${BASE_Y + bend} ${end.x} ${end.y}`
        );
      }

      svg.addEventListener("mousemove", (e) => {
        const rect = svg.getBoundingClientRect();

        const mouseX = ((e.clientX - rect.left) / rect.width) * 1000;
        const mouseY = ((e.clientY - rect.top) / rect.height) * 200;

        gsap.to(dot, {
          cx: mouseX,
          cy: mouseY,
          duration: 0.15,
          ease: "power3.out"
        });

        const centerY = rect.height / 2;
        const offset = (e.clientY - rect.top - centerY) / centerY;

        const bend = gsap.utils.clamp(
          -MAX_BEND,
          MAX_BEND,
          offset * MAX_BEND
        );

        gsap.to({}, {
          duration: 0.3,
          onUpdate: () => updateCurve(bend)
        });
      });

      svg.addEventListener("mouseleave", () => {
        gsap.to({}, {
          duration: 1,
          ease: "elastic.out(1, 0.4)",
          onUpdate: () => updateCurve(0)
        });

        gsap.to(dot, { opacity: 0, duration: 0.2 });
      });

      svg.addEventListener("mouseenter", () => {
        gsap.to(dot, { opacity: 1, duration: 0.2 });
      });

      updateCurve(0);
